<div class="Pozi" >
<ul style="background-color: antiquewhite;"  *ngFor="let item of MyItems" >
<li   class="Mystyle" ></li>

     {{item.name}}
     <li class="SaizTxt">

        <p> город : {{item.City}}</p>

    <li class="SaizTxt">
       <p > телефон : {{item.telefon}}</p>
       <li class="SaizTxt">
        <p > email : {{item.email}}</p>
    
    
             
            
             
        
        
        
    <!-- {{item.telefon}} -->

     <!-- <img *ngFor="let item1 of MyItems[item.id].imeges" class="Saiz" src="{{item1}}"> -->
     
    </li>


</ul>
</div>
